{% extends "base/base.html" %}

{% block title %} INDEX VIEW {% endblock title %}

{% block content %}
<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Usuarios</h1>
        <button type="submit" class="btn btn-success">
            <i class="fas fa-user-plus"></i> Crear Nuevo Usuario
        </button>
    </div>

    <div class="card">
        <div class="card-body table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Email</th>
                        <th colspan="3" class="text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.first_name }}</td>
                        <td>{{ user.last_name }}</td>
                        <td>{{ user.email }}</td>
                        <td><a class="btn btn-outline-info btn-sm" href="#">Detalle</a></td>
                        <td><a class="btn btn-outline-warning btn-sm" href="#">Editar</a></td>
                        <td><a class="btn btn-outline-danger btn-sm" href="#">Eliminar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}
