{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>{% block title %}{% endblock title %}</title>
</head>
<style>
    .custom-navbar {
        background-color: #fce4ec;
        padding: 15px 30px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
        border-bottom: 2px solid #f8bbd0;
    }

    .navbar-brand {
        font-size: 1.6rem;
        font-weight: bold;
        color: #ad1457;
        display: flex;
        align-items: center;
        gap: 10px;
        text-decoration: none;
    }

    .navbar-brand i {
        color: #ec407a;
        font-size: 1.4rem;
    }
</style>
<body>
    <!-- header -->
    <div class="row">
        <nav class="custom-navbar">
            <div class="container-fluid d-flex justify-content-start">
                <a class="navbar-brand" href="#">
                    <i class="fas fa-code"></i> Parra’s Dev.
                </a>
            </div>
        </nav>
    </div>


    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            {% block content %}
            {% endblock content %}
        </div>
        <div class="col-2"></div>
    </div>

    <!-- footer -->
    <div class="row"></div>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>